@charset "UTF-8";
html {
  font-size: 62.5%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}
body.is-open {
  position: fixed;
}

img {
  vertical-align: bottom;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p,
h3,
h4,
h5,
h6 {
  color: #222222;
}

p {
  font-size: 16px;
}

.l-header {
  width: 100%;
  height: 150px;
}
.l-header a {
  display: flex;
  justify-content: center;
}
.l-header a img {
  width: 120px;
  margin: 10px 0;
}
.l-header button {
  position: absolute;
  right: 0;
  top: 5%;
}
@media (min-width: 1025px) {
  .l-header a {
    justify-content: flex-start;
    padding-left: 86px;
  }
  .l-header button {
    display: none;
  }
}

.l-footer {
  width: 100%;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 8px;
  color: #1E1E1E;
  position: relative;
}
@media (min-width: 1025px) {
  .l-footer {
    height: 128px;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
  }
  .l-footer > p {
    position: absolute;
    top: 50%;
    margin-left: 220px;
  }
}

.l-main {
  width: 100%;
}

.l-sidebar {
  font-family: "Fredericka the Great";
  font-size: 21px;
  color: #1E1E1E;
  transition: all 300ms 0s ease;
  width: 30%;
  height: 100vh;
  top: 0;
  position: absolute;
  left: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 10;
}
.l-sidebar.is-open {
  right: 0;
  left: inherit;
}
@media (min-width: 1025px) {
  .l-sidebar {
    font-size: 32px;
  }
}

.c-button--hamburger {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  z-index: 15;
}
@media screen and (min-width: 1200px) {
  .c-button--hamburger {
    display: none;
  }
}
.c-button--hamburger::before, .c-button--hamburger::after {
  content: "";
  width: 40px;
  height: 5px;
  background: #000052;
  position: absolute;
  display: block;
  left: -22px;
  transition: transform 0.2s;
}
.c-button--hamburger::before {
  top: 0px;
}
.c-button--hamburger::after {
  top: 30px;
}
.c-button--hamburger > span {
  width: 40px;
  height: 5px;
  font-size: 0;
  position: absolute;
  left: -22px;
  top: 15px;
  transition: transform 0.2s;
  background: #000052;
}
.c-button--hamburger.is-open {
  height: 40px;
}
.c-button--hamburger.is-open::before {
  transform: rotate(45deg);
  top: 10px;
}
.c-button--hamburger.is-open::after {
  transform: rotate(-45deg);
  top: 10px;
}
.c-button--hamburger.is-open > span {
  background: none;
}
.c-button--profile {
  padding: 18px 20px;
  background: #000052;
  color: #fff;
  font-size: 15px;
  border-radius: 100px;
  min-width: 320px;
  display: block;
  width: 320px;
  margin: auto;
}
.c-button--go-single {
  padding: 18px 103px;
  background: #000052;
  color: #fff;
  font-size: 15px;
  border-radius: 100px;
  min-width: 290px;
  display: block;
  width: 100%;
  margin: auto;
  position: relative;
}
.c-button--go-single::after {
  position: absolute;
  content: "▶";
  top: 20px;
  right: 25px;
}
.c-thumbnail {
  width: 300px;
  height: 322px;
  border-radius: 50%;
  background: url("/imgs/about-page(sp).jpg");
  background-size: 164%;
  background-position: -170px 22%;
  margin: auto;
}
@media (min-width: 1025px) {
  .c-thumbnail {
    background: url("/imgs/about-page(pc).jpg");
    height: 530px;
    width: 30%;
    background-size: contain;
  }
}

.c-title--page {
  font-size: 32px;
}
.c-title--section {
  font-size: 32px;
  color: #000052;
}
.c-shadow {
  box-shadow: 7px 5px 0px #E8EB5E;
}

.c-list--profile {
  margin: 0 auto 48px;
  max-width: 473px;
}
.c-list--profile li {
  margin-bottom: 10px;
}
.c-list--profile li:last-child {
  margin-bottom: 0;
}
.c-list--history {
  text-align: center;
}
.c-list--history li {
  margin-bottom: 22px;
}
.c-list--history li:last-child {
  margin-bottom: 0;
}
.c-list--history a {
  font-size: 27px;
  font-weight: bold;
  color: #222222;
}
@media (min-width: 1025px) {
  .c-list--history {
    width: 630px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 90px;
  }
}

@media (min-width: 1025px) {
  .c-flex-box--profile {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1025px) {
  .c-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 120px;
  }
}

.c-top-title {
  width: 100vw;
  display: inline-block;
  text-align: center;
  padding: 60px 0;
}
.c-top-title h1 {
  font-family: "M PLUS 1";
  font-size: 36px;
  color: #000052;
}
.c-top-title p {
  font-family: "Fredericka the Great";
  font-size: 20px;
  color: #1E1E1E;
}
@media (min-width: 1025px) {
  .c-top-title {
    display: none;
  }
}

.c-layer--sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}
.c-layer--sidebar.is-open {
  display: inherit;
}

.p-card {
  margin: 0 38px;
  display: flex;
  justify-content: center;
}
.p-card li {
  margin-bottom: 65px;
  max-width: 350px;
}
.p-card img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-card img, .p-card p {
  margin-bottom: 20px;
}
.p-card p {
  line-height: 1.75;
  color: #5d5d63;
}
@media (min-width: 600px) {
  .p-card {
    margin: 0 171px;
  }
  .p-card li {
    width: 400px;
    max-width: 400px;
  }
  .p-card img {
    width: 100%;
    height: 400px;
  }
  .p-card a {
    padding: 18px 154px;
  }
}

.p-nav {
  width: 184px;
  height: auto;
  background-color: #fff;
  overflow-y: auto;
}
.p-nav__ul {
  padding-top: 80px;
  padding-left: 30px;
}
.p-nav__ul li {
  padding-bottom: 40px;
}
.p-nav__ul li a {
  color: #1E1E1E;
  width: 120px;
  display: block;
  overflow-wrap: break-word;
}
@media (min-width: 1025px) {
  .p-nav__ul {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    right: 100%;
  }
  .p-nav__ul li {
    margin-right: 64px;
  }
  .p-nav__ul li:first-child {
    display: none;
  }
  .p-nav__ul--category {
    margin: 0 94px;
  }
  .p-nav__ul--category a {
    width: auto;
    white-space: nowrap;
  }
}

.p-sns {
  position: absolute;
  left: 100%;
}
.p-sns img {
  width: 32px;
  margin-bottom: 20px;
}
.p-sns.is-open {
  top: -850px;
  position: absolute;
  right: 80px;
  z-index: 15;
  left: inherit;
}
@media (min-width: 1025px) {
  .p-sns {
    display: flex;
    position: absolute;
    top: 40%;
    right: 10%;
  }
  .p-sns img {
    width: 48px;
    margin-right: 33px;
  }
}

.p-profile {
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
}
.p-profile h1 {
  font-size: 32px;
  margin-bottom: 48px;
}
.p-profile figure {
  margin-bottom: 45px;
}
.p-profile h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #000052;
}
.p-profile span {
  display: block;
  font-size: 20px;
  margin-bottom: 32px;
}
.p-profile h1, .p-profile h2, .p-profile span {
  text-align: center;
}
@media (min-width: 1025px) {
  .p-profile {
    margin: 0 262px 0 144px;
    padding-top: 0;
  }
  .p-profile h1 {
    visibility: hidden;
  }
  .p-profile h2 {
    font-size: 60px;
  }
  .p-profile span {
    font-size: 40px;
  }
  .p-profile p {
    font-size: 18px;
  }
}
@media (min-width: 1025px) {
  .p-profile__container {
    width: 50%;
  }
}

.p-career {
  padding-top: 115px;
  text-align: center;
  margin: 0 43px;
}
.p-career h2 {
  margin-bottom: 32px;
}
.p-career h3 {
  font-size: 20px;
}
.p-career ul {
  margin-bottom: 56px;
}
.p-career li {
  margin-bottom: 1.75rem;
}
@media (min-width: 1025px) {
  .p-career span {
    font-size: 32px;
    font-weight: bold;
  }
}

.p-history-works {
  margin: 40px auto;
}
.p-history-works h1 {
  max-width: 163px;
  margin: 0 auto 43px;
  line-height: 1;
  text-align: center;
}
@media (min-width: 600px) {
  .p-history-works h1 {
    max-width: none;
  }
}

.p-first-view {
  width: 100%;
}
.p-first-view > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 900px;
}
/*# sourceMappingURL=style.css.map */