@use "../../Foundation/variable" as *;

.c-button {

    &--hamburger {
        //ハンバーガーボタン
        width: 40px;
        height: 40px;
        position: relative;
        display: block;
        z-index: 15;

        @media screen and (min-width : 1200px) {
            display: none;
        }

        &::before,
        &::after {
            content: "";
            width: 40px;
            height: 5px;
            background: $navy;
            position: absolute;
            display: block;
            left: -22px;
            transition: transform 0.2s;
        }

        &::before {
            top: 0px;
        }

        &::after {
            top: 30px;
        }

        >span {
            width: 40px;
            height: 5px;
            font-size: 0;
            position: absolute;
            left: -22px;
            top: 15px;
            transition: transform 0.2s;
            background: $navy;
        }

        &.is-open {
            height: 40px;

            &::before {
                transform: rotate(45deg);
                top: 10px;
            }

            &::after {
                transform: rotate(-45deg);
                top: 10px;
            }

            >span {
                background: none;
            }
        }

    }

    &--profile {
        //プロフィールダウンロードボタン
        padding: 18px 20px;
        background: $navy;
        color: $white;
        font-size: 15px;
        border-radius: 100px;
        min-width: 320px;
        display: block;
        width: 320px;
        margin: auto;
    }




    &--go-single {
        //シングルページに行くボタン
        padding: 18px 103px;
        background: #000052;
        color: #fff;
        font-size: 15px;
        border-radius: 100px;
        min-width: 290px;
        display: block;
        width: 100%;
        margin: auto;
        position: relative;

        &::after {
            position: absolute;
            content: "▶";
            top: 20px;
            right: 25px;
        }
    }

    &--submit {
        //フォームの送信ボタン
        padding: 18px 103px;
        background: #000052;
        color: #fff;
        font-size: 15px;
        border-radius: 100px;
        min-width: 290px;
        display: block;
        width: 280px;
        margin: 40px auto;
        position: relative;

        &::after {
            position: absolute;
            content: "▶";
            top: 20px;
            right: 25px;
        }

        @include breakpoint(tablet) {
            width: 440px;
            font-size: 24px;
        }
    }

    &--sample {
        //投稿ページ用のサンプル

    }
}