@use "../../Foundation/variable" as *;

.c-button {

    &--hamburger {
        //ハンバーガーボタン

    }

    &--profile {
        //プロフィールダウンロードボタン
        padding: 18px 20px;
        background: $navy;
        color: $white;
        font-size: 15px;
        border-radius: 100px;
        min-width: 320px;
        display: block;
        width: 320px;
        margin: auto;
    }


    

    &--go-single {
        //シングルページに行くボタン
        padding: 18px 103px;
        background: #000052;
        color: #fff;
        font-size: 15px;
        border-radius: 100px;
        min-width: 290px;
        display: block;
        width: 100%;
        margin: auto;
        position: relative;
        &::after{
            position: absolute;
            content: "▶";
            top: 20px;
            right: 25px;
        }
    }

    &--submit {
        //フォームの送信ボタン

    }

    &--sample {
        //投稿ページ用のサンプル

    }
}