@use "../../Foundation/variable" as *;

.c-panel {

    &--main {
        text-align: center;

        //コンタクトページの見出し用パネル
        &__pc {
            display: none;
        }

        &__mobile {
            display: inline-block;
            margin: 50px 0;
            text-align: center;
            width: 329px;
            height: 100%;
            border: 1px solid $navy;
            border-radius: 15px;
            box-shadow: 5px 10px $yellow;

            >p {
                font-size: 32px;
                font-weight: bold;
                color: $navy;
                margin-bottom: 0;
            }
        }

    }

    &--sub {
        //プライバシーポリシーのパネル
        display: inline-block;
        margin: 50px 0;
        text-align: center;
        width: 330px;
        height: 100%;
        border: 1px solid $yellow;
        border-radius: 15px;

        h2 {
            margin: 10px 0;
        }

        p {
            margin: 10px 0;
        }
    }
}