@use "../../Foundation/variable" as *;

.c-title {

    &--site {
        //トップページで使う

    }

    &--page {
        //下層ページのタイトル
        font-size: 32px;
        font-family: $F;
    }

    &--section {
        //セクションごとの見出し
        font-size: 32px;
        color: $navy;
    }

    &--profile {
        //プロフィールのみで使うタイトル

    }
}