@use "../../Foundation/variable" as *;

.c-title {

    &--site {
        //トップページで使う

    }

    &--page {
        //下層ページのタイトル
        font-size: 32px;
        font-family: $F;
    }

    &--section {
        //セクションごとの見出し
        font-size: 32px;
        color: $navy;
    }

    &--profile {
        //プロフィールのみで使うタイトル

    }

    &--number {

        //先頭に数字のつくタイトル

        font-family: "Noto Sans JP";
        font-size: 24px;
        color: 1E1E1E;
        padding-bottom: 20px;

        &::first-letter {
            font-family: "Fredericka the Great";
            font-size: 45px;
        }
    }
}