@use "../../Foundation/variable" as *;

.c-top-title {
    width: 100vw;
    display: inline-block;
    text-align: center;
    padding: 60px 0;

    h1 {
        font-family: "M PLUS 1";
        font-size: 36px;
        color: $navy
    }

    p {
        font-family: "Fredericka the Great";
        font-size: 20px;
        color: #1E1E1E;
    }

    @include breakpoint(pc) {
        display: none;
    }
}