@use "../../Foundation/variable" as *;

.p-nav {

    &--sidebar{

        &__g-menu{      //サイドバーにあるグローバルメニュー～レスポンシブでヘッダーへいく～
            margin-bottom: 45px;
            li{
                margin-bottom: 35px;
                max-width: 120px;
                &:last-child{
                    margin-bottom: 0;
                }

                a{
                    overflow-wrap: break-word;
                }
            }
            
            @include breakpoint(pc){
                display: flex;
                position: absolute;
                left: -230%;
                top: 57px;

                li{
                    margin: 0 64px 0 0;
                    max-width: inherit;                    
                    &:first-child{
                        display: none;
                    }
                }
            }
        }

        &__sns{         //SNSリンクアイコンの塊  レスポンシブでフッターへ移動

            img {
                width: 32px;
                margin-bottom: 20px;
            }

            &.is-open {
                top: -850px;
                position: absolute;
                right: 80px;
                z-index: 15;
                left: inherit;
            }

            @include breakpoint(pc) {
                display: flex;
                position: absolute;
                bottom: 40px;
                right: 130%;

                li{
                    margin-right: 33px;
                }
                a{
                    display: block;
                    width: 45px;
                    height: 45px;
                }
                img {
                    width: 100%;
                    height: 100%;
                }
            }
                
        }

    }
    


    &--category{    //archiveページの年代別ナビゲーション

        margin: 0 94px;

        a {
            width: auto;
            white-space: nowrap;
        }
    }
}

    
