@use "../../Foundation/variable" as *;

.p-nav {

    &--sidebar{

        &__g-menu{      //サイドバーにあるグローバルメニュー～レスポンシブでヘッダーへいく～
            margin-bottom: 45px;
            li{
                margin-bottom: 35px;
                max-width: 120px;
                &:last-child{
                    margin-bottom: 0;
                }

                a{
                    overflow-wrap: break-word;
                }
            }
            
        }

        &__sns{         //SNSリンクアイコンの塊  レスポンシブでフッターへ移動

            img {
                width: 32px;
                margin-bottom: 20px;
            }

            &.is-open {
                top: -850px;
                position: absolute;
                right: 80px;
                z-index: 15;
                left: inherit;
            }

            @include breakpoint(pc) {
                display: flex;
                position: absolute;
                top: 40%;
                right: 10%;

                img {
                    width: 48px;
                    margin-right: 33px;
                }
            }
                
        }

    }
    


    &--category{    //archiveページの年代別ナビゲーション

        margin: 0 94px;

        a {
            width: auto;
            white-space: nowrap;
        }
    }
}

    
