@use "../Foundation/variable" as *;

.l-header {
    width: 100%;
    height: 150px;

    a {
        display: flex;
        justify-content: center;

        img {
            width: 120px;
            margin: 10px 0;
        }
    }

    button {
        position: absolute;
        right: 0;
        top: 5%;
    }

    @include breakpoint(pc) {
        a {
            justify-content: flex-start;
            padding-left: 86px;
        }

        button {
            display: none;
        }
    }
}