@use "../Foundation/variable" as *;

.l-sidebar {
    font-family: "Fredericka the Great";
    font-size: 21px;
    color: #1E1E1E;
    width: 50%;
    height: 100%;
    right: -30%;
    top: 0;
    position: absolute;
    z-index: 10;
    background: aliceblue;
    padding: 127px 0 0 44px;
    
    &.is-open {
        right: -17px;
        transition: all .3s;
    }

    @include breakpoint(tablet){
        width: 30%;
    }
    @include breakpoint(pc) {
        font-size: 32px;
        
    }
}